
body{
    display: grid;
    background-color: #120520;
    place-items: center;
    height: 98vh;
}

.container{
    background: #1b13be;
    border-radius: 16px;
    display: grid;
    height: 400px;
    width: 400px;
    overflow: hidden;
    place-items: center;
    position: relative;
}


.box{
    --delay: 0s;
    animation: loopp 10s linear infinite;
    animation-delay: var(--delay);
    background-color: #ae9806;
    height: 100px;
    opacity: 0;
    position: absolute;
    width: 100px;
}

.box:nth-child(2){
    --delay: 1s;
    opacity: 0;
}
.box:nth-child(3){
    --delay: 2s;
    opacity: 0;
}
.box:nth-child(4){
    --delay: 3s;
    opacity: 0;
}
.box:nth-child(5){
    --delay: 4s;
    opacity: 0;
}
.box:nth-child(6){
    --delay: 5s;
    opacity: 0;
}
.box:nth-child(7){
    --delay: 6s;
    opacity: 0;
}
.box:nth-child(8){
    --delay: 7s;
    opacity: 0;
}
.box:nth-child(9){
    --delay: 8s;
    opacity: 0;
}
.box:nth-child(10){
    --delay: 9s;
    opacity: 0;
}

@keyframes loopp{
    from{
        opacity: 0.5;
        transform: scale(0);
    }
    to{
        opacity: 0;
        transform: scale(3.85);
    }
} 
